# --- Media Storage Settings ---
USE_CLOUD_STORAGE=

# --- General Settings ---
DEBUG=
SQL_LOGS=

# --- Application Settings ---
BACKEND_HOST=
BACKEND_PORT=

# --- Database Settings ---
DB_HOST=
DB_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# --- Auth Settings ---
UNVERIFIED_USER_GRACE_PERIOD_HOURS=
VERIFICATION_TOKEN_EXPIRE_HOURS=
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=

# --- JWT ---
JWT_ALGORITHM=
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# --- Redis Settings ---
REDIS_PROTOCOL=
REDIS_HOST=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DB=

# --- Flower Settings ---
FLOWER_USER=
FLOWER_PASSWORD=

# --- Email Settings ---
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=